@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
}
body{
    font-family: 'Nunito';
}
img#logo {
    width: 50px;
    height: 50px;
    margin: 20px;
}
input#pesquisa{
    background-image: url('../icons/search-outline.svg'); /* Caminho da imagem */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posição da imagem no final (à direita) */
    background-size: 16px;
}
a{
    text-decoration: none;
}
p.opcaoMenu{
    margin-left: 10px;
    font-family: 'Nunito';
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
}
a{
    color: black;
}
#visaoGeral {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#casa {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#estudantes {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#chapeu {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#professores {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#ribbon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#turmas {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#livro {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#disciplinas {
    display: inline-flex;
    align-items: center;
    border: 1px solid #894E9A;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#biblioteca {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#calendario {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#calendarioImg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#comunicados {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#carta {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#horario {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#quadroDeHorarios {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
hr#linhaDoMenu{
    width: 120px;
    margin-left:0;
    margin-top: 220px;
}
#configuracao {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#engrenagem {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#sair {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#portaDeSair {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
input#pesquisa{
    background-color: rgba(217, 217, 217, 0.35);
    border: 0;
    padding: 6px;
    border-radius: 5px;
    width: 250px;
    margin-top: 10px;
    margin-left: 30px !important;
}
#lupa{
    transform: translate(-25px, 5px);
    width: 17px;
}
#notificacoes-container{
    background-color: #d9d9d9;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 600px;
    position: relative
}
header{
    display: flex;
}
#sino{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mensagem-container{
    background-color: #d9d9d9;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 10px;
}
#chat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}
#circulo{
    background-color: #d9d9d9;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
#cinza{
    color: rgba(0, 0, 0, 0.5);
}
#informacoes-de-perfil{
    margin-left: 18px;
    margin-top: -20px;
}
#cinza{
    margin-top: -15px;
}
h1{
    font-weight: normal;
    margin-left: 30px;
    margin-top: 0;
    font-family: 'Nunito'
}
hr#linhaDoCabecalho{
    margin-left: 10px;
}
p#descricao{
    margin-left: 30px;
    margin-top: -15px;
    color: rgba(0, 0, 0, 0.6)
}
#container {
    display: flex;
    flex-wrap: nowrap;
}

main {
    flex: 3;
}
#opcoes{
    display: flex;
    position: absolute;
    top: 8px;
    right: 50px;
}
@media (max-width: 1220px) {
    #menu-container{
        display: block;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    table{
        width: 90%;
    }
}
@media (max-width: 1024px) {

    #linhaDoCabecalho {
        width: 98%;
    }
}
@media (max-width: 770px) {
    input#pesquisa{
        margin-top: 40px !important;
    }
    #informacoes-de-perfil>p{
        width: 50px
    }
}
@media (max-width: 696px) {
    table{
        margin-left: 30px !important; /* Aumenta o tamanho em 1.5x */
        transform-origin: top left;
    }
}
@media(max-width: 553px){
    #logo {
        width: 60px;
        margin: 10px;
    }
    table{
        transform: scale(0.7);
    }
    .opcaoMenu{
        font-size: 0.5em
    }
    h1{
        font-size: 1.6em;
    }  
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    p#descricao{
        font-size: 0.9em
    }
}
@media(max-width: 516){
    #linhaDoCabecalho{
        width: 80%;
    }
}
@media (max-width: 460px){
    input#pesquisa{
        width: 90px !important;
    }
    #linhaDoCabecalho{
        width: 80% !important;
    }
}
table{
    border-collapse: collapse;
    border-top: none;
    margin-top: 30px;
    margin-left: 60px;
    transform-origin: top left;
    width: 90%;
}
table, th, td{
    border-left: none;
    border-right: none;
}
td{
    border-left: none; /* Borda esquerda */
    border-right: none; /* Borda direita */
    border-top: 1px solid #c4c4c4; /* Remove a borda superior */
    border-bottom: 1px solid #c4c4c4; 
}
th{
    background-color: #DBDBDB;
    font-size: 15px;
    width: 107px; 
    height: 30px;            /* Define a largura horizontal da célula */
    text-align: center;       /* Centraliza o texto horizontalmente */
    vertical-align: middle;   /* Centraliza o texto verticalmente */
    padding: 10px;
    border-top: none;
    border-bottom: none;
}
td{
    height: 40px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    background-color: #f5f5f5;
}
.bola{
    width: 30px;
    height: 30px;
    background-color: #d9d9d9; /* Cor preta, pode alterar conforme necessário */
    border-radius: 100%; /* Para fazer o círculo */
    margin: 0 auto;
}
input[type="button"], button{
    background-color: #d9d9d9;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[value="Adicionar Disciplina"]{
    position: absolute;
    top: 125px;
    right: 40px;
    padding: 5px;
}
#hamburguer{
    display: none;

}
body{
    overflow-x: hidden;
}
@media(max-width: 510px){
    input[value="Adicionar Disciplina"]{
        margin-top: 40px;
    }
    table{
        margin-top: 50px !important;
    }
}
@media (max-width: 425px){
    h1{
        width: 150px;
    }
    p#descricao{
        width: 150px;
    }
    #linhaDoCabecalho{
        width: 80%;
    }
}
@media (max-width: 352px){
    .opcaoMenu{
        font-size: 0.4em;
    }
    #opcoes{
        margin-right: -40px;
    }
    h1{
        font-size: 1.3em;
        width: 110px !important;
    }
    #linhaDoCabecalho{
        width: 76% !important;
    }
    main{
        width: 50% !important;
    }
    p#descricao{
        width: 110px;
    }
}
@media(max-width: 768px){
    table{
        width: 90%;
        margin-left: 10px;
    }
    .bola{
        transform: scale(0.7);
    }
    #botoes{
        position: absolute;
        top: 150px;
        right: 10px;
        transform: scale(0.8);
    }
    .opcaoMenu{
        font-size: 0.5em !important;
    }
}

@media(max-width: 658px){
    table{
        transform-origin: top left;
        margin-left: -120px;
    }
    .bola{
        transform: scale(0.7);
    }
    #botoes{
        position: absolute;
        top: 150px;
        right: 10px;
        transform: scale(0.7);
    }
    .opcaoMenu{
        font-size: 0.4em !important;
    }
}
@media(max-width: 446px){
    table{
        transform: scale(0.6);
        margin-left: 20px !important;
    }
}
@media(max-width: 425px){
    table{
        transform: scale(0.5);
        margin-left: 0px !important;
    }
    .bola{
        transform: scale(0.7);
    }
    #botoes{
        position: absolute;
        top: 190px;
        right: 3px;
        transform: scale(0.6);
    }
    .opcaoMenu{
        font-size: 0.4em !important;
    }
    #menu-container{
        transform: scale(0.9)
    }
    h1{
        margin-left: 2px;
    }
    p#descricao{
        margin-left: 2px;
    }
    #menu{
        margin-left: -15px;
    }
}
@media(max-width: 352px){
    table{
        transform: scale(0.37);
        transform-origin: top left;
        margin-left: -0px !important;
    }
    #botoes{
        margin-top: -10px !important;
    }
    #menu{
        transform: scale(0.9);
        margin-top: -25px;
    }
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}
#modal input{
    display: block;
    width: 93%;
    margin: 10px 0;
    padding: 10px;
}
#modal button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

#fechar {
    background-color: #BEBEBE;
    color: white;
}
@media (max-width: 348px){
    #modal{
        width: 80%;
    }
}
button{
    padding: 3%;
    width: 50%;
    height: 50%;
}