@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
}
body{
    overflow-x: hidden;
    font-family: 'Nunito';
}
a{
    text-decoration: none;
}
img#logo {
    width: 80px;
    margin: 20px;
}
p.opcaoMenu{
    margin-left: 10px;
    font-family: 'Nunito';
    display: inline-block;
    vertical-align: middle;
    font-size: 0.7em;
}
a{
    color: black;
}
#visaoGeral {
    display: inline-flex;
    align-items: center;
    border: 1px solid #894E9A;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#casa {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#estudantes {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#chapeu {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#professores {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#ribbon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#turmas {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#livro {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#disciplinas {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#biblioteca {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#calendario {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#calendarioImg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#comunicados {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#carta {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#horario {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#quadroDeHorarios {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
hr#linhaDoMenu{
    width: 120px;
    margin-left:0;
    margin-top: 220px;
}
#configuracao {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#engrenagem {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
#sair {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 30px;
    margin-bottom: -4px;
}
#portaDeSair {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
input#pesquisa{
    background-color: rgba(217, 217, 217, 0.35);
    border: 0;
    padding: 6px;
    border-radius: 5px;
    width: 250px;
    margin-top: 10px;
    margin-left: 30px !important;
}
#lupa{
    transform: translate(-25px, 5px);
    width: 17px;
}
#notificacoes-container{
    background-color: #d9d9d9;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 600px;
    position: relative
}
header{
    display: flex;
}
#sino{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mensagem-container{
    background-color: #d9d9d9;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 10px;
}
#chat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}
#circulo{
    background-color: #d9d9d9;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
#cinza{
    color: rgba(0, 0, 0, 0.5);
}
#informacoes-de-perfil{
    margin-left: 18px;
    margin-top: -20px;
}
#cinza{
    margin-top: -15px;
}
h1{
    font-weight: normal;
    margin-left: 30px;
    margin-top: 0;
    font-family: 'Nunito'
}
hr#linhaDoCabecalho{
    margin-left: 10px;
}
p#descricao{
    margin-left: 30px;
    margin-top: -15px;
    color: rgba(0, 0, 0, 0.6)
}
#numeroEstudantes-container{
    margin-left: 30px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 350px;
    height: 90px;
    border-radius: 7px;
}
#numeroEstudantes-container>p#numeroEstudantesLabel{
    font-family: 'Nunito';
    margin-left: 9px;
    margin-top: 5px;
}
#numeroEstudantes{
    font-size: 1.8em;
    font-family: 'Nunito';
    font-weight: 600;
    margin-left: 30px;
    margin-top: -10px;
}
#numeroProfessores-container{
    margin-left: 20px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 350px;
    height: 90px;
    border-radius: 7px;
}
#numeroProfessores-container>p#numeroProfessoresLabel{
    font-family: 'Nunito';
    margin-left: 9px;
    margin-top: 5px;
}
#numeroProfessores{
    font-size: 1.8em;
    font-family: 'Nunito';
    font-weight: 600;
    margin-left: 30px;
    margin-top: -10px;
}
#primeiraSecao{
    display: flex;
}
#numeroTurmas-container{
    margin-left: 20px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 350px;
    height: 90px;
    border-radius: 7px;
}
#numeroTurmas-container>p#numeroTurmasLabel{
    font-family: 'Nunito';
    margin-left: 9px;
    margin-top: 5px;
}
#numeroTurmas{
    font-size: 1.8em;
    font-family: 'Nunito';
    font-weight: 600;
    margin-left: 30px;
    margin-top: -10px;
}
.segundaSecao{
    margin-left: 30px;
    margin-top: 20px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 530px;
    height: 145px;
    border-radius: 7px;
}
.segundaSecao>p{
    font-family: 'Nunito';
    margin-left: 9px;
    margin-top: 14px;
}
#mini-calendario{
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(217, 217, 217, 0.7);
    border-radius: 7px;
    width:530px;
    height: 360px;
}
#secoes{
    display:flex;
}
#setaEsquerda{
    width: 27px;
    height: 27px;
    margin-left: 30px;
    margin-top: 15px;
}
#topo{
    display: flex;
}
#topo>p{
    margin-left: 130px;
    font-size: 1.2em
}
#setaDireita{
    width: 27px;
    height: 27px;
    margin-left: 165px;
    margin-top: 15px;
}
#dias {
    display: flex;
    margin-top: -9px;
    margin-left: 65px;
    padding: 0; /* Remove padding se houver */
    gap: 20px; /* Espaçamento entre os dias, ajuste conforme necessário */
}

#dias > div {
    display: flex;
    flex-direction: column; /* Alinha os elementos filhos verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    width: 40px; /* Define uma largura fixa para as divs internas, ajuste conforme necessário */
    height: 60px; /* Define uma altura fixa para as divs internas, ajuste conforme necessário */
}
#dias p {
    margin: 7px;
    line-height: 1; /* Ajusta o espaçamento entre as linhas */
}
.selecionado{
    background-color: #B4AFAF;
    border-radius: 3px;
}
#agenda{
    font-family: 'Nunito';
    margin-left: 10px;
    margin-bottom: 10px;
}
#secaoCinza{
    margin-left: 30px;
    margin-top: 20px;
    background-color: rgba(217, 217, 217, 0.7);
    border-radius: 7px;
    width:520px;
    height: 95px;
}
#opcoes{
    display: flex;
}
#menuHamburguino{
    display: none;
}
/* Tornar o layout flexível e responsivo */
#container {
    display: flex;
    flex-wrap: nowrap;
}

main {
    flex: 3;
    min-width: 300px;
}

/* Responsividade para diferentes tamanhos de tela */
@media (max-width: 1220px) {
    #menu{
        display: block;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #flex {
        flex-direction: column;
        align-items: stretch;
    }

    #secoes {
        flex-direction: column;
    }

    #primeiraSecao, .segundaSecao {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 1024px) {

    #linhaDoCabecalho {
        width: 98%;
    }

    #dias {
        gap: 10px;
    }
}
div#opcoes{
    position: absolute;
    top: 8px;
    right: 50px;
}
@media (max-width: 711px) {
    input#pesquisa{
        margin-top: 40px !important;
    }
    #informacoes-de-perfil>p{
        width: 50px
    }
    #setaEsquerda{
        margin-left: 60px;
    }
    #setaDireita{
        margin-left: 90px;
    }
    #dias{
        margin-left: 90px;
    }
    #mini-calendario, #secaoCinza{
        margin-left: -130px;
    }
}
@media (max-width: 553px) {
    #logo {
        width: 60px;
        margin: 10px;
    }

    main {
        width: 100%;
        padding: 10px;
        flex: 0.87;
        min-width: 1px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #notificacoes-container,
    #mensagem-container,
    #circulo {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    #informacoes-de-perfil {
        margin-left: 0;
    }

    #primeiraSecao {
        flex-direction: column;
        align-items: stretch;
    }
    #segundaSecao-container{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    #numeroEstudantes-container,
    #numeroProfessores-container,
    #numeroTurmas-container {
        margin-bottom: 10px;
        gap: 7px;
    }
    #segundaSecao-container{
        gap: 8px;
        flex-direction: column;
    }
    #numeroEstudantes-container{
        margin-left: 18px;
    }

    #secaoCinza {
        width: 100%;
    }

    #mini-calendario {
        width: 100%;
        margin-left: 0;
        height: auto; /* Ajusta a altura para manter a proporção */
    }

    #dias {
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0;
    }

    #dias > div {
        width: 30px; /* Ajusta a largura para telas pequenas */
        height: auto; /* Ajusta a altura para manter a proporção */
    }

    #setaEsquerda,
    #setaDireita {
        width: 20px;
        height: 20px;
    }
    #mini-calendario{
        width: 300px;
        height: 300px;
    }
    #topo>p{
        margin-left: 60px;
        width: 120px;
    }
    #setaEsquerda{
        margin-left: 14px;
    }
    #setaDireita{
        margin-left: 55px;
    }
    #primeiraSecao {
        justify-content: space-between;
        gap: 20px;
        margin: 0 20px;
    }
    
    #primeiraSecao > div {
        width: 100%;
    }
    #mini-calendario{
        margin-left: -150px;
    }
    #primeiraSecao, #segundaSecao-container{
        width: 100%; /* A largura ocupa 100% da tela */
        flex-direction: column; /* Organiza os itens em coluna */
        gap: 10px; /* Espaçamento entre os itens */
        box-sizing: border-box;
    }
    .opcaoMenu{
        font-size: 0.5em
    }
    h1{
        font-size: 1.6em;
        width: 100%;
    }   
    p#descricao{
        font-size: 0.9em
    }
    #primeiraSecao{
        margin-left: 0px;
    }
    .anotacoes{
        width: 10%;
    }
    .horas{
        margin-top: 5px !important;
        height: 5% !important;
    }
    input[type="time"]{
        margin-top: 5px !important;
    }
    input.titulo{
        transform: scale(0.7) !important;
    }
    input.titulo{
        margin-left: 58px !important;
        margin-top: 0px !important;
    }
    .mensagem{
        margin-top: -10px; 
        margin-left: 17px;
        transform: scale(0.5) !important;
        width: 100%;
    }
}
@media (max-width: 460px){
    input#pesquisa{
        width: 90px !important;
    }
}
input#pesquisa{
    background-image: url('../icons/search-outline.svg'); /* Caminho da imagem */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posição da imagem no final (à direita) */
    background-size: 16px;
}
@media (max-width: 324px){
    #mini-calendario{
        transform: scale(0.8);
        margin-left: -170px;
    }
    .opcaoMenu{
        font-size: 0.4em;
    }
    #opcoes{
        margin-right: -40px;
    }
}
.anotacoes{
    background-color: #B5B5B5;
    width: 490px;
    height: 55px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 7px;
    width: 90%;
    height: 12%
}
.horas{
    width: 30px;
    height: 7%;
    position: absolute;
    border-right: 2px solid #d9d9d9;
    margin-top: 10px;
    margin-left: 40px;
}
@media(min-width:553px){
    .anotacoes{
        width: 93%;
        height: 16% !important;
    }
}
input[type="time"]{
    margin-top: 10px;
    margin-left: -26px;
    -moz-appearance: textfield;
    background-color: #B5B5B5;
    border: none;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  /* Para remover o spinner em campos numéricos também (se necessário) */
  input[type="time"]::-webkit-inner-spin-button {
    display: none;
  }
input.titulo{
    margin-top: 6px;
    margin-left: 65px;
    transform: scale(0.8);
    background-color: #B5B5B5;
    border: none;
}
input.titulo::placeholder {
    font-weight: bold;
}
textarea{
    margin-left: 5px;
    transform: scale(0.7);
    background-color: #B5B5B5;
    border: none;
}
textarea::placeholder {
    color: black;
}